<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Аварийный доступ</title>
</head>
	<body>
	 <h1>Миисия Колонизация Марса</h1>
	 <h4>И на марсе будут яблони цвести</h4>
	 <h3>
	 <img src="/static/img/MARS-2-7.png" alt="здесь должна была быть картинка, но не нашлась">
	Аварийный доступ</br></h3>
			 <div>
                                <form class="login_form" method="post">
                                    <input type="number" class="form-control" id="number" placeholder="id Астронавта:" name="id1"></br>
                                    <input type="password" class="form-control" id="password" placeholder="Пароль астронавта" name="password1"></br>
                                    <input type="number" class="form-control" id="number" placeholder="id капитана:" name="id2"></br>
                                    <input type="password" class="form-control" id="password" placeholder="Пароль капитана" name="password2"></br>
                                    <button type="submit" class="btn btn-primary">доступ</button>
                                </form>
                            </div>
	</body>
</html>